{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
<ul class="features" data-prototype="{{ form_widget(form.features.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for feature in form.features %}
        <li>{{ form_row(feature.name) }}</li>
    {% endfor %}
</ul>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
